<PowerCalendar class="schedule-calendar"
  @center={{month}}
  @onCenterChange={{action (mut month) value="date"}}
  @selected={{selected}}
  @onSelect={{action (mut selected) value="date"}} as |calendar|>

  <calendar.Nav />
  <calendar.Days />
</PowerCalendar>


<div class="container">
  {{#each model as |shiftevent|}}
    <div>
      <Assignment @ShifteventList={{shiftevent}} />
    </div>
  {{/each}}
</div>
